.agree
  label.agree__container
    input(type="checkbox" name="agree" class="agree__input")
    span.agree__icon
    span.font-w-i-extra-light.font-s-12-a.agree__text
      | Я принимаю условия 
      a(href="#" data-remodal-target="privacy").agree__privacy Политики конфиденциальности
