section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-bold.font-s-54
        | Вам подойдет эта франшиза, 
        span.color-fuchsia если:
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Вы хотите развивать свое 
              br
              | дело в этой нише, но не 
              br
              | знаете с чего начать
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Для вас важно начать 
              br
              | зарабатывать сразу после 
              br
              | открытия бизнеса
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Вы мечтаете работать 
              br
              | в команде с опытными 
              br
              | предпринимателями
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | У вас много бизнес-идей, 
              br
              | но не хватает инструментов 
              br
              | для реализации
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Вы хотите запустить 
              br
              | груминг-салон, который сразу 
              br
              | выделится на рынке
        .bullet-pagination.bullet-pagination--secondary
      img.details-section__img-mobile(src="images/details-section-img-mobile.png" loading="lazy" width="1095" height="799" alt="image")
      img.details-section__img(src="images/details-section-img.png" loading="lazy" width="1471" height="489" alt="image")
      .details-section__text.font-w-bold
        | Если все это про вас,
        br
        | то мы ждём
        br
        | вас в нашей команде!
      img.details-section__icon(src="images/details-section-icon.png" loading="lazy" width="974" height="489" alt="icon")
