footer.footer
  .wrapper
    .footer__container
      .footer__brand
        .font-w-bold.font-s-18 © БУБОЧКА, 2024
        a.footer__privacy.font-w-regular.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      img.footer__logo(src="images/logo.png" loading="lazy" width="612" height="228" alt="logo")
      a.footer__privacy-mobile.font-w-regular.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__connection
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
