header.header
  .wrapper
    .header__container
      .header__brand
        .font-w-bold.font-s-18 «БУБОЧКА»
        .font-w-regular.font-s-16 Франшиза груминг-салона
      img.header__logo(src="images/logo.png" loading="lazy" width="612" height="228" alt="logo")
      .header__btn-wrapper
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
  .header__brand-mobile.font-w-regular.font-s-16 Франшиза груминг-салона
