section.start-section
  .wrapper
    .start-section__container
      img.start-section__icon(src="images/start-section-icon.png" loading="lazy" width="289" height="550" alt="icon")
      h2.start-section__title.font-w-bold.font-s-54
        | Запустите бизнес в одном
        br
        span.color-pink из двух форматов
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-1.png" loading="lazy" width="455" height="466" alt="image")
            .start-section__card-title.font-w-bold Студия
            .start-section__card-text.font-w-medium.font-s-18
              | Получите подробное 
              br
              | описание формата в 1 клик
            button.btn.start-section__btn(data-remodal-target="modal-form-format") Получить
          .start-section__card.swiper-slide
            img.start-section__card-img(src="images/start-section-card-img-2.png" loading="lazy" width="455" height="466" alt="image")
            .start-section__card-title.font-w-bold Салон
            .start-section__card-text.font-w-medium.font-s-18
              | Получите подробное 
              br
              | описание формата в 1 клик
            button.btn.start-section__btn(data-remodal-target="modal-form-format") Получить
        .bullet-pagination
