section.steps-section
  .out-wrapper
    .steps-section__container
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="145" height="275" alt="image")
      h2.steps-section__title.font-w-bold.font-s-54
        | Путь 
        span.steps-section__title-mark франчайзи 
        |  — от заявки 
        br
        | до первых клиентов
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28-a 01
            .font-w-bold.font-s-24-a Оставляете заявку
            .font-w-medium.font-s-18-a
              | Заполните короткую форму — мы свяжемся с вами, 
              br.no-br
              | чтобы ответить на все вопросы и понять, 
              br.no-br
              | подходит ли вам наша франшиза.
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28-a 02
            .font-w-bold.font-s-24-a Получаете презентацию
            .font-w-medium.font-s-18-a
              | Вы получите подробную презентацию, финмодель 
              br.no-br
              | и анализ рынка — всё, чтобы принять взвешенное 
              br.no-br
              | решение.
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28-a 03
            .font-w-bold.font-s-24-a Подписываете договор
            .font-w-medium.font-s-18-a
              | Обсуждаем условия, отвечаем на ваши вопросы, 
              br.no-br
              | согласовываем старт — после подписания 
              br.no-br
              | договора вы становитесь частью бренда 
              br.no-br
              | «Бубочка».
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28-a 04
            .font-w-bold.font-s-24-a Готовитесь к открытию
            .font-w-medium.font-s-18-a
              | Вы и ваши сотрудники проходите обучение в 
              br.no-br
              | нашей школе груминга, получаете доступ ко всей 
              br.no-br
              | базе знаний, помогем с подбором помещения и 
              br.no-br
              | закупкой оборудования.
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28-a 05
            .font-w-bold.font-s-24-a Открываете салон
            .font-w-medium.font-s-18-a
              | Мы сопровождаем запуск салона: готовим промо-
              br.no-br
              | материалы, помогаем настроить рекламу, 
              br.no-br
              | создаём поток первых клиентов уже на старте.
        .bullet-pagination
