section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-bold.font-s-54
        | Какую поддержку мы окажем 
        br.no-br
        | вам 
        span.color-pink на старте бизнеса
      .swiper-bullet
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Проведем для вас
              br
              | подробное онлайн-обучение
          .support-section__card.swiper-slide.support-section__card-position
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Дадим рекомендации по его
              br
              | оформлению и оборудованию
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Поможем собрать сильную
              br
              | команду профессионалов
          .support-section__card.swiper-slide.support-section__card-position
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Поделимся рабочими
              br
              | маркетинговыми
              br
              | инструментами
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Проведем очное обучение
              br
              | для груминг-мастеров
          .support-section__card.swiper-slide.support-section__card-position
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Предоставим перечень
              br
              | востребованных услуг
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Передадим фирменные
              br
              | стандарты оказания услуг
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Организуем продвижение
              br
              | через сайт Головной
              br
              | компании
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Дадим рекомендации
              br
              | по работе бухгалтерии
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Организуем поставку
              br
              | оборудования
              br
              | и расходных материалов
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Поможем выбрать локацию
              br
              | и помещение для салона
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-w-medium.font-s-18
              | Добавим в закрытое
              br
              | сообщество партнеров
              br
              | сети
        .bullet-pagination
      .support-section__bottom
        img.support-section__bottom-img(src="images/support-section-bottom-img.png" loading="lazy" width="780" height="809" alt="image")
        .support-section__bottom-text.font-w-bold.font-s-18
          | Скачайте договор, в котором
          br
          | прописаны наши обязанности
          br
          | и все условия сотрудничества
        button.btn.support-section__btn(data-remodal-target="modal-form-agreement") Cкачать
