.steps-section

  &__container
    position relative
    z-index 1
    padding 30px 0 10px
    +above($breakpoints.sm)
      padding 40px 0
    +above($breakpoints.md)
      padding 60px 0
    +above($breakpoints.xxl)
      padding 75px 0 88px

  &__img
    position: absolute
    z-index -1
    width 75px
    height: auto
    top: 40px
    right: -40px
    +above($breakpoints.sm)
      width: 80px;
      top: 102px;
      right: -58px;
    +above($breakpoints.md)
      width: 120px;
      top: 136px;
      right: -97px;
    +above($breakpoints.xxl)
      width 145px
      top: 188px
      right: -80px

  &__title
    text-align: center
    padding-bottom 15px
    +above($breakpoints.sm)
      padding-bottom 20px
    +above($breakpoints.md)
      padding-bottom 30px
    +above($breakpoints.xxl)
      padding-bottom 35px

  &__title-mark
    position relative
    z-index 1
    &:after
      content: ""
      position: absolute
      z-index -1
      background-color #CB1787
      border-radius: 60px
      width: 104%;
      height: 110%;
      top: -2%;
      left: -4%;

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content center
      gap: 20px
    +above($breakpoints.md)
      gap: 40px
    +above($breakpoints.xxl)
      gap: 62px

  &__card
    position relative
    background-color #fff
    width 280px !important
    height: 170px
    display: flex
    flex-direction: column
    gap: 15px
    border-radius: 8px
    padding 20px 15px 5px
    +above($breakpoints.sm)
      width: 360px !important;
      height: 130px
      gap: 18px;
      border-radius: 12px
      padding 25px 5px 5px 20px
    +above($breakpoints.md)
      width: 470px !important;
      height: 170px
      gap: 22px;
      border-radius: 16px
      padding 30px 5px 5px 25px
    +above($breakpoints.xxl)
      width 580px !important
      height: 210px
      gap: 26px
      border-radius: 20px
      padding 30px 5px 5px 30px

  &__card-num
    position: absolute
    background-color #DF5595
    color: #fff
    border-radius: 5px
    text-align: center
    display: flex
    justify-content center
    align-items: center
    width 25px
    height: 25px
    top: 10px
    right: 10px
    +above($breakpoints.sm)
      width 25px
      height: 25px
      top: 18px
      right: 18px
    +above($breakpoints.md)
      width 35px
      height: 35px
      top: 20px
      right: 20px
    +above($breakpoints.xxl)
      width 40px
      height: 40px
      top: 25px
      right: 25px
